= render :partial => 'shared/pagination', :locals => { :coll => @posts, :next_text => 'Older Posts >', :prev_text => '< Newer Posts' }
= render @posts
= render :partial => 'shared/pagination', :locals => { :coll => @posts, :next_text => 'Older Posts >', :prev_text => '< Newer Posts' }
