<%= render :partial => 'post', :collection => [@post] -%>
      <hr />
      <a name="comments"></a>
<%= render @post.approved_comments -%>
<%= render :partial => 'blog/comments/form', :locals => { :comment => Comment.new } -%>
<% if admin? -%>
      <h3>Rejected Comments</h3>
<%= render @post.rejected_comments -%>
<% end -%>
