- if coll.previous_page || coll.next_page
  %p.pagination.clearfix
    = link_to h(next_text), overwrite_params: { page: coll.next_page}, class: 'fright' if coll.next_page
    = link_to h(prev_text), overwrite_params: { page: coll.previous_page }, class: 'fleft' if coll.previous_page
