body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 85%;
  font-family: verdana, helvetica, arial, sans-serif;
  background-color: #ffffff;
  color: #333333;
}

/***********************
 * Global Styles
 ***********************/
a {
  color: #ae7a2c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  border: 0 none;
}

h2 {
  margin-bottom: 0;
  border-bottom: 1px dotted #999999;
}

h2 a {
  text-decoration: none;
}

h2 a:hover {
  text-decoration: underline;
}

fieldset {
  border: 0 none;
}

/*
pre {
  padding: 10px;
}
*/

/***********************
 * Global Classes
 ***********************/
.flash {
  padding: 1em;
}

.notice {
  border: 1px solid #329000;
  background-color: #99eeb6;
  color: #55a62a;
}

.error {
  border: 1px solid #a62f00;
  background-color: #fa7080;
  color: #b72e3e;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.invisible {
  display: none;
}

.centertext {
  text-align: center;
}

.fright {
  float: right;
}

.fleft {
  float: left;
}

dl.formfields {
  margin: 0;
}

dl.formfields dt {
  padding: 0 .5em 0 0;
  margin: 1em 0 0 0;
  line-height: 2em;
}

dl.formfields dt label {
  line-height: 2em;
  font-weight: bold;
}

dl.formfields dd {
  margin: 0;
  line-height: 2em;
}

/***********************
 * Site Structure
 ***********************/
#nav {
  position: absolute;
  top: 0;
  background-color: #000000;
  width: 100%;
  background-image: image_url('nav_bg.jpg');
  background-repeat: repeat-x;
}

#nav span a {
  color: #ffffff;
  text-decoration: none;
  font-style: italic;
  line-height: 2em;
  margin-right: 2em;
}

#nav ul {
  text-decoration: none;
  width: 870px;
  margin: 0 auto;
  padding: 0;
  line-height: 2em;
}

#nav ul li {
  display: inline-block;
  float: left;
  width: 5em;
  color: #ffe273;
  font-variant: small-caps;
}

#nav ul li a {
  text-decoration: none;
  color: #ffffff;
}

#nav ul li a:hover {
  text-decoration: underline;
  color: #002670;
}

#container {
  width: 900px;
  margin: 2em auto;
  padding: 0;
  background-color: #ffffff;
}

#content {
  padding: 5px 30px 30px 30px;
  width: 600px;
  float: left;
  border-right: 1px solid #90cb84;
}

#sidebar {
  width: 160px;
  float: left;
  margin-left: 5px;
  padding-top: 1em;
}

#sidebar p {
  font-size: .8em;
}

#footer {
  background-color: #000000;
  padding: 5px 0;
  color: #ffffff;
  background-image: image_url('nav_bg.jpg');
  background-repeat: repeat-x;
}

#footer p {
  width: 870px;
  margin: 0 auto;
}

/***********************
 * Post Display
 ***********************/
.dateline {
  font-size: .8em;
  color: #303030;
}

.code_block_title {
  font-style: italic;
}

/***********************
 * Comments
 ***********************/
div.comment {
  border: 1px solid #cccccc;
  background-color: #e0e0e0;
  padding: 1em;
  margin-bottom: 20px;
}
