			<ul id="nav" class="clearfix">
				<li><%= link_to "home", root_url %></li>
				<li><%= link_to "blog", root_url %></li>
				<li><%= link_to "code", "#" %></li>
				<li><%= link_to "contact", "#" %></li>
			</ul>
